In [3]:
from pyspark.sql import SparkSession

In [4]:
spark = SparkSession.builder.appName("DataFrame").getOrCreate()

In [8]:
df = spark.read.csv("student.csv", header=True, inferSchema=True)

In [9]:
df.show()

+------+---+--------+-----+
|  Name|Age|Subjects|Marks|
+------+---+--------+-----+
|  Jeet| 30|    Math|   40|
|  Sonu| 50|    Math|   45|
|Shivam| 23|    Math|   35|
+------+---+--------+-----+

In [10]:
df.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Subjects: string (nullable = true)
 |-- Marks: integer (nullable = true)

In [12]:
df.columns

['Name', 'Age', 'Subjects', 'Marks']

In [15]:
df.select("name").show()

+------+
|  name|
+------+
|  Jeet|
|  Sonu|
|Shivam|
+------+

In [16]:
df.select(["Name","Subjects"]).show()

+------+--------+
|  Name|Subjects|
+------+--------+
|  Jeet|    Math|
|  Sonu|    Math|
|Shivam|    Math|
+------+--------+

In [20]:
df.withColumn("StudentName",df["Name"]).show()

+------+---+--------+-----+-----------+
|  Name|Age|Subjects|Marks|StudentName|
+------+---+--------+-----+-----------+
|  Jeet| 30|    Math|   40|       Jeet|
|  Sonu| 50|    Math|   45|       Sonu|
|Shivam| 23|    Math|   35|     Shivam|
+------+---+--------+-----+-----------+

In [22]:
df.withColumnRenamed("Name","NewName").show()

+-------+---+--------+-----+
|NewName|Age|Subjects|Marks|
+-------+---+--------+-----+
|   Jeet| 30|    Math|   40|
|   Sonu| 50|    Math|   45|
| Shivam| 23|    Math|   35|
+-------+---+--------+-----+

In [23]:
df.drop("Subjects").show()

+------+---+-----+
|  Name|Age|Marks|
+------+---+-----+
|  Jeet| 30|   40|
|  Sonu| 50|   45|
|Shivam| 23|   35|
+------+---+-----+