In [21]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col

In [3]:
spark = SparkSession.builder.appName("Dataframe3").getOrCreate()

In [4]:
df = spark.read.csv("student.csv",header=True, inferSchema=True)

In [5]:
df.show()

+-------+----+--------+-----+
|   Name| Age|Subjects|Marks|
+-------+----+--------+-----+
|   Jeet|  30|    Math|   40|
|   Sonu|  50|    Math|   45|
| Shivam|  23|    Math|   35|
|   NULL|  34|    Math| NULL|
| Ramesh|NULL|    NULL|   45|
|Shubham|  34|    Math| NULL|
+-------+----+--------+-----+

In [23]:
df.filter(col('Marks')>40).show()

+------+----+--------+-----+
|  Name| Age|Subjects|Marks|
+------+----+--------+-----+
|  Sonu|  50|    Math|   45|
|Ramesh|NULL|    NULL|   45|
+------+----+--------+-----+

In [25]:
df1 = df.filter(col('Marks').isNull()).select('Name', 'marks').show()

+-------+-----+
|   Name|marks|
+-------+-----+
|   NULL| NULL|
|Shubham| NULL|
+-------+-----+

In [26]:
df1 = df.filter(~col('Marks').isNull()).select('Name').show()

+------+
|  Name|
+------+
|  Jeet|
|  Sonu|
|Shivam|
|Ramesh|
+------+