In [9]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import min

In [2]:
spark = SparkSession.builder.appName("Dataframe").getOrCreate()

In [4]:
spark

In [5]:
df = spark.read.csv("student.csv", header=True, inferSchema=True)

In [6]:
df.show()

+-------+----+--------+-----+
|   Name| Age|Subjects|Marks|
+-------+----+--------+-----+
|   Jeet|  30|    Math|   40|
|   Sonu|  50|    Math|   45|
| Shivam|  23|    Math|   35|
|   NULL|  34|    Math| NULL|
| Ramesh|NULL|    NULL|   45|
|Shubham|  34|    Math| NULL|
+-------+----+--------+-----+

In [9]:
df.drop("name").show()

+---+--------+-----+
|Age|Subjects|Marks|
+---+--------+-----+
| 30|    Math|   40|
| 50|    Math|   45|
| 23|    Math|   35|
| 34|    Math| NULL|
+---+--------+-----+

In [14]:
df.show()

+-------+----+--------+-----+
|   Name| Age|Subjects|Marks|
+-------+----+--------+-----+
|   Jeet|  30|    Math|   40|
|   Sonu|  50|    Math|   45|
| Shivam|  23|    Math|   35|
|   NULL|  34|    Math| NULL|
| Ramesh|NULL|    NULL|   45|
|Shubham|  34|    Math| NULL|
+-------+----+--------+-----+

In [15]:
df.na.drop().show()

+------+---+--------+-----+
|  Name|Age|Subjects|Marks|
+------+---+--------+-----+
|  Jeet| 30|    Math|   40|
|  Sonu| 50|    Math|   45|
|Shivam| 23|    Math|   35|
+------+---+--------+-----+

In [48]:
df.show()

+------+---+--------+-----+
|  Name|Age|Subjects|Marks|
+------+---+--------+-----+
|  Jeet| 30|    Math|   40|
|  Sonu| 50|    Math|   45|
|Shivam| 23|    Math|   35|
+------+---+--------+-----+

In [11]:
df.na.drop(how="any").show()

+------+---+--------+-----+
|  Name|Age|Subjects|Marks|
+------+---+--------+-----+
|  Jeet| 30|    Math|   40|
|  Sonu| 50|    Math|   45|
|Shivam| 23|    Math|   35|
+------+---+--------+-----+

In [12]:
df.show()

+-------+----+--------+-----+
|   Name| Age|Subjects|Marks|
+-------+----+--------+-----+
|   Jeet|  30|    Math|   40|
|   Sonu|  50|    Math|   45|
| Shivam|  23|    Math|   35|
|   NULL|  34|    Math| NULL|
| Ramesh|NULL|    NULL|   45|
|Shubham|  34|    Math| NULL|
+-------+----+--------+-----+

In [15]:
df.na.drop(how="any", thresh=3).show()

+-------+---+--------+-----+
|   Name|Age|Subjects|Marks|
+-------+---+--------+-----+
|   Jeet| 30|    Math|   40|
|   Sonu| 50|    Math|   45|
| Shivam| 23|    Math|   35|
|Shubham| 34|    Math| NULL|
+-------+---+--------+-----+

In [16]:
df.na.drop(how="any", subset=["Name"]).show()

+-------+----+--------+-----+
|   Name| Age|Subjects|Marks|
+-------+----+--------+-----+
|   Jeet|  30|    Math|   40|
|   Sonu|  50|    Math|   45|
| Shivam|  23|    Math|   35|
| Ramesh|NULL|    NULL|   45|
|Shubham|  34|    Math| NULL|
+-------+----+--------+-----+

In [17]:
df.na.drop(how="any", subset=["Name","Marks"]).show()

+------+----+--------+-----+
|  Name| Age|Subjects|Marks|
+------+----+--------+-----+
|  Jeet|  30|    Math|   40|
|  Sonu|  50|    Math|   45|
|Shivam|  23|    Math|   35|
|Ramesh|NULL|    NULL|   45|
+------+----+--------+-----+

In [21]:
df1 = df.na.drop()
df1.show()

+------+---+--------+-----+
|  Name|Age|Subjects|Marks|
+------+---+--------+-----+
|  Jeet| 30|    Math|   40|
|  Sonu| 50|    Math|   45|
|Shivam| 23|    Math|   35|
+------+---+--------+-----+

In [17]:
df1=df
# Get the minimum value from the "value" column
min_value_marks = df1.agg(min("Marks")).first()[0]
min_value_age = df1.agg(min("Age")).first()[0]

(min_value_marks,min_value_age)

# Fill null values with the minimum value
filled_df = df1.na.fill(min_value_marks, subset=["Marks"])
filled_df = filled_df.na.fill(min_value_age, subset=["Age"])

filled_df.show()

+-------+---+--------+-----+
|   Name|Age|Subjects|Marks|
+-------+---+--------+-----+
|   Jeet| 30|    Math|   40|
|   Sonu| 50|    Math|   45|
| Shivam| 23|    Math|   35|
|   NULL| 34|    Math|   35|
| Ramesh| 23|    NULL|   45|
|Shubham| 34|    Math|   35|
+-------+---+--------+-----+