In [1]:
import pandas as pd

In [2]:
import pyspark

In [3]:
print("hi")

hi

In [9]:
pd.read_csv('student.csv')

     Name  Age
0    Jeet   30
1    Sonu   50
2  Shivam   23

In [10]:
from pyspark.sql import SparkSession

In [14]:
spark = SparkSession.builder.appName("Practice").getOrCreate()

In [15]:
spark

In [24]:
 # To work with spark context 
# df = spark.read.csv('student.csv').show()
df = spark.read.option('header','true').csv('student.csv')
print(type(df))
df.printSchema()
df.show()

<class 'pyspark.sql.dataframe.DataFrame'>
root
 |-- Name: string (nullable = true)
 |-- Age: string (nullable = true)

+------+---+
|  Name|Age|
+------+---+
|  Jeet| 30|
|  Sonu| 50|
|Shivam| 23|
+------+---+